.addToWatchedBtn{
    background: linear-gradient(rgba(27,188,194,1) 0%, rgba(24,163,168,1) 100%);
    padding: 4px 12px;
    margin: 10px;
    font-size: 12px;
    color: white;
    display: inline-block;
    position: relative;
    border: 1px solid rgba(0,0,0,0.21);
    border-bottom: 4px solid rgba(0,0,0,0.21);
    border-radius: 4px;
    text-shadow: 0 1px 0 rgba(0,0,0,0.15);
}
.removeFromWatchedBtn{
    background: linear-gradient(#EE395B 0%, #e82222 100%);
    padding: 4px 12px;
    margin: 10px;
    font-size: 12px;
    color: white;
    display: inline-block;
    position: relative;
    border: 1px solid rgba(0,0,0,0.21);
    border-bottom: 4px solid rgba(0,0,0,0.21);
    border-radius: 4px;
    text-shadow: 0 1px 0 rgba(0,0,0,0.15);
}
.posterImg{
    width: 170px;
    height: 255px;
}