.addToWatchedBtn {
  color: white;
  position: absolute;
  top: 5px;
  left: 5px;
}

.watchedBtn {
  color: #4CED69;
  position: absolute;
  top: 5px;
  left: 5px;
}

.loadingIcon {
  color: white;
  position: absolute;
  top: 5px;
  left: 5px;
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.watchedBtn:hover {
  color: #4CED69;
}

.addToWatchedBtn:hover{
  color: white;
}

.removeWatchedListBtn:hover{
  color: red;
}

.removeWatchedListBtn{
  color: red;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
